* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body { 
  overflow-x: hidden;
}
.navbar {
  background-color: #525252;
}
.nav-link{
  color: #FFFFFF;
  font-size: 14px;
  margin-left: 20px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
 
  }
.nav-link:hover{
  color:#fff;
}
.navbar-toggler-icon {
  color: #fff;
}
.border-btn{
  border: 1px solid #FFFFFF80;
  border-radius: 50px;
  width: fit-content;
  background: #29626D;
  padding: 5px 20px 5px 20px !important;
  margin-bottom: 5px;
}

.hero-banner-section {
  background-image: url('../assets/become-a-pro-banner.png');
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.sign-in_card {
  margin-top: 50px;
}

.card {
  margin: auto;

  /* text-align: center; */
  width: 325px;
}
.card-title {
  color: #4f4f4f;
  text-align: center;
}
.s-btn {
  color: white;
  background-color: #1d7a8c;
  border: none;
  border-radius: 23px;
  padding: 5px 20px 5px 20px;
  text-align: center;
  margin-top: 20px;
}
input {
  margin: 5px;
  padding: 5px 7px;
  border: 1px solid #00000026;
  /* color: #a0a0a0; */
}
::placeholder {
  font-size: 15px;
}

label {
  font-size: 13px;
}

.scroll-down {
  margin-top: 60px;

  text-align: center;
}
.scroll-down img {
  margin-bottom: 50px;
}

.howitworks {
}
.header {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.container-main{
    width: 70%;
    margin: auto;
}
.container-main .row{
    margin-bottom: 50px;
}
.card {
  border: none;
  
}

.card-body{
  width: fit-content;
  
}
.card-title {
  text-align: left;
  font: bold;
}
.card p {
  font-size: 14px;
}
.card a {
  font-size: 15px;
}

.side-img img{
    height: 200px;
    width: 200px;
   

}
.side-img-c img{
    height: 200px;
    width: 200px;
}
.side-img-c{
    text-align: right;
}
@media (max-width: 370px){
  .card-body{
    width: fit-content;
  }
}



.site-footer .container {
    max-width: 1420px;
  }
  .site-footer .footer-top {
    background: #111111;
    padding: 27px 0;
  }
  .site-footer a {
    display: inline-block;
  }
  .site-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .site-footer ul.footer-navigation li a:hover,
  .site-footer ul.social-media-list a:hover {
    opacity: 0.8;
  }
  .site-footer ul.footer-navigation {
    flex-wrap: wrap;
  }
  .site-footer ul.footer-navigation li + li {
    margin-left: 30px;
  }
  .site-footer ul.footer-navigation li a {
    color: #f1f1f1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 2.14;
    transition: opacity 0.3s;
  }
  .site-footer ul.social-media-list li {
    text-align: center;
  }
  .site-footer ul.social-media-list a {
    width: 20px;
    height: 20px;
    transition: opacity 0.3s;
  }
  .site-footer ul.social-media-list li:last-child {
    margin-left: 20px;
  }
  .site-footer .footer-bottom {
    background: #292929;
    padding: 19px 0;
    position: relative;
  }

