* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #525252;
}
.nav-link {
  color: #ffffff;
  margin-left: 10px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
.nav-link:focus,
.nav-link:hover {
  color: #ffffff;
}
#notify {
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}
#book-btn {
  border: 1px solid #ffffff;
  border-radius: 50px;
  width: fit-content;
  background: #29626d;
  padding: 5px 20px 5px 20px !important;
  margin-top: 5px;
}
.hero img {
  width: 99vw;
}
.content {
  margin-top: 50px;
}
.separator-section {
  margin-top: 20px;
  position: relative;
}
.separator {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.tabs {
  margin-top: 50px;
}
.sub-tab {
  margin: auto;
  margin-bottom: 80px;
  /* width: 900px; */
  font-size: 13px;
}

.tabs-steps {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  color: #565656;
  font-weight: 450;
  cursor: pointer;
   
}
.tabs-steps li{
  padding: 10px 25px;
}
.tab-steps .active{
  background-color: #1d7a8c;
  color: #ffffff;
}
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs-steps>.active{
  background-color: #1d7a8c;
  color: #ffffff;
  
}
.step-1-content {
 margin-top: 50px;
 margin-bottom: 450px;
}
.step-1-content input{
  padding: 8px;
}
.step-1-content h6{
  color: #565656;
}
.check-btn{
  border: none;
  border-radius: 17px;
  background-color: #1d7a8c;
  color: #ffffff;
  padding: 10px 15px;
  margin-left: 10px;
}
.address-tab{
  padding: 10px 30px;
  border: 1px solid #565656;
  border-radius: 5px;

}
.add-address{
  border: 1px solid #1d7a8c;
  border-radius: 17px;
  border-color: #1d7a8c;
  color: #1d7a8c;
  padding: 10px 15px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
#save{
  border: none;
  border-radius: 17px;
  background-color: #1d7a8c;
  color: #ffffff;
  padding: 8px 14px;
  margin: 10px;
}
#cancle{
  border: none;
  border-radius: 17px;
  color: #565656;
  background-color: #ffffff;
  border: 1px solid #565656;
  padding: 5px 10px;
  margin: 10px;
}
.step-3-content{
  margin-top: 50px;
  margin-bottom: 200px;
}
.SP{
  text-align: center;
  width: fit-content;
}
.img-sp{
  width: fit-content;
  padding: 20px;
  border: 1px solid #565656;
  border-radius: 70px;
}
#select{
  
  border-radius: 17px;
  color: #565656;
  background-color: #ffffff;
  border: 1px solid #565656;
  padding: 5px 10px;
  
}
#promocode{
  padding: 8px;
}
#apply{
  border-radius: 17px;
  color: #1d7a8c;
  background-color: #ffffff;
  border: 1px solid #1d7a8c;
  padding: 8px 12px;
}
.step-4-content{
  margin-bottom: 500px;
}
.step-4-content h6{
  margin-top: 20px;
}







.tab-steps img {
  height: 22px;
  width: 22px;
}

.form-select {
  font-size: 12px;
  color: #565656;
}
.sub-form .sub_2{
margin-left: 10px;
}

.extra-service p {
  font-weight: normal;
  text-align: center;
}
#extra_service {
  font-weight: bold;
  text-align: left;
}
.service-items {
  justify-content: center;
  align-items: center;
}
.service-img {
  margin: auto;
  width: 108px;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #525252;
  border-radius: 60px;
}
.service-img.active {
  width: 108px;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #1d7a8c;
  border-radius: 60px;
}
textarea {
  border-color: #a3a3a3;
  border-radius: 5px;
}
.continue-btn {
  text-align: right;
}
.continue-btn button {
  padding: 5px 15px;
  border-radius: 17px;
  background-color: #1d7a8c;
  color: #ffffff;
  font-weight: bold;
  border: none;
}
.d-picker input{
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  width: 90px;
  font-size: 12px;
  color: #565656;
  margin-bottom: 5px;
}
.time input{
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  width: 90px;
  font-size: 12px;
  color: #565656;
}

/* .payment_question .card{
  margin: auto;
} */



.card-body {
  padding: 0px;
  margin: 0px;
}
.card-body .title {
  padding: 10px;
  background-color: #1d7a8c;
  color: #ffffff;
}
.pay-details-1 {
  padding: 5px 15px;
  font-size: 13px;
  color: #565656;
}
.pay-details-2 {
  padding: 0px 15px;
  font-size: 13px;
  color: #565656;
}
.total-payment {
  padding: 0px 15px;
  font-size: 13px;
  color: #565656;
}
.end-part {
  padding: 5px 15px;
  background-color: #f1f1f1;
  font-size: 13px;
  margin-top: 10px;
}
.end-part a {
  text-decoration: none;
  color: #a3a3a3;
  font-size: 13px;
}
#payment {
  margin-left: 78px;
  color: #1d7a8c;
  font-size: 27px;
  font-weight: 700;
  position: relative;
  left: 65px;
  top: -30px;
}
.payment_question hr {
  margin: 0px;
  margin-top: 10px;
}
.questions h6 {
  text-align: center;
  margin-top: 10px;
  color: #565656;
}
.accordion-item {
  border: none;
}

.accordionbutton {
  font: bold;
  border: none;
  box-shadow: none !important;
  background-color: white;
  text-align: left;
}
#question {
  font-size: 11px;
  font-weight: 500;
}
.accordion-body {
  font-size: 11px;
  font-weight: 500;
}
.accordionbutton img {
  margin-right: 5px;
}
.accordion-button:not(.collapsed) {
  color: #646464;
}
#forhelp {
  text-align: left;
  margin-bottom: 50px;
}
#forhelp a {
  color: #1d7a8c;
  font: bold;
  text-decoration: none;
}
.page-footer {
  /* width: 1560px; */
  background-color: black;
  padding: 20px;
}
.footer-img {
  margin-left: 50px;
  width: fit-content;
}
.footer-links {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 14px;
  text-align: center;
}
.f-links {
  text-decoration: none;
  padding: 0px 20px;

  color: #f1f1f1;
}
.footer-social {
  margin-top: 20px;
  margin-left: 10px;
  text-align: right;
}
.f-social {
  padding: 0px 10px;
  
  /* margin-left: 30px; */
}

@media (max-width: 400px) {
  .f-links {
    display: flex;
  }
}
@media (max-width: 1115px) {
  .comment-part textarea {
    width: 500px;
  }
  .service-items {
    margin: 0px 10px;
  }
  .payment_question .card {
    margin: auto;
    width: fit-content;
  }
  .questions {
    margin: auto;
  }
  .sub-tab {
    margin-bottom: 20px;
  }
  .sub-tab-content select{
    width: fit-content;
    }
}
@media (max-width: 500px) {
  .comment-part textarea {
    width: 300px;
  }
  .d-picker input{
    width: 150px;
  }
  .time input{
    width: 176px;
  }
  .sub-tab-content select{
    width: fit-content;
    }
}
