* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body { 
    overflow-x: hidden;
  }
  .navbar {
    background-color: #525252;
  }
  .nav-link{
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 20px;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
   
    }
  .nav-link:hover{
    color:#fff;
  }
  .navbar-toggler-icon {
    color: #fff;
  }
  .border-btn{
    border: 1px solid #FFFFFF80;
    border-radius: 50px;
    width: fit-content;
    background: #29626D;
    padding: 5px 20px 5px 20px !important;
    margin-bottom: 5px;
  }

  .card{
      margin: auto;
      margin-top: 50px;
      margin-bottom: 152px;
  }
  .card h5{
      text-align: center;
      color: #525252;
      margin-bottom: 20px;
  }
  .card input{
      
      padding: 5px;
      width: 15.8rem;
      border: 1px solid #525252;
      border-radius: 3px;
  }
  .card .btn-div{
    text-align: center;
  }
  .card button{
      margin-top: 5px;
      padding: 4px 20px;
      border: none;
      border-radius: 17px;
      color: #ffffff;
      background-color: #29626D;
    
  }
  .card-body .login{
    margin-top: 8px;
      text-align: center;
      
  }
  .login a{
    text-decoration: none;
    color: #29626D;
    font-weight: bold;
  }






  .page-footer {
    /* width: 1560px; */
    background-color: black;
    padding: 20px;
  }
  .footer-img{
    margin-left: 50px;
  }
  .footer-links {
    margin-top: 20px;
    /* margin-left: 20px; */
    font-size: 14px;
  }
  .f-links {
    text-decoration: none;
    padding: 0px 20px;
  
    color: #f1f1f1;
  }
  .footer-social {
    margin-top: 20px;
    margin-left: 10px;
  }
  .f-social {
    padding: 0px 10px;
    /* margin-left: 30px; */
  }